@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 100;
    src: local('Proxima Nova Thin'), url('./assets/fonts/proximanova/proximanova-thin.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 300;
    src: local('Proxima Nova Light'), url('./assets/fonts/proximanova/proximanova-light.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 400;
    src: local('proxima-nova'), url('/assets/fonts/proximanova/proximanova-regular.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-nova';
    font-style: normal;
    font-weight: 500;
    src: local('proxima-nova'), url('/assets/fonts/proximanova/proximanova-medium.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-nova';
    font-weight: 600;
    font-style: normal;
    src: local('proxima-nova Semi Bold'), url('./assets/fonts/proximanova/proximanova-semibold.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-nova';
    font-weight: 700;
    font-style: normal;
    src: local('proxima-nova Bold'), url('./assets/fonts/proximanova/proximanova-bold.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-nova';
    font-weight: 800;
    font-style: normal;
    src: local('proxima-nova Extra Bold'), url('./assets/fonts/proximanova/proximanova-extrabold.otf') format('opentype');
}

@font-face {
    font-family: 'proxima-nova';
    font-weight: 900;
    font-style: normal;
    src: local('proxima-nova Bold'), url('./assets/fonts/proximanova/proximanova-black.otf') format('opentype');
}

@font-face {
    font-family: 'biotif';
    font-style: normal;
    font-weight: 200;
    src: url('assets/fonts/Biotif/Biotif-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: italic;
    font-weight: 200;
    src: url('assets/fonts/Biotif/Biotif-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/Biotif/Biotif-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: italic;
    font-weight: 300;
    src: url('assets/fonts/Biotif/Biotif-BookItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Biotif/Biotif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/Biotif/Biotif-RegularItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'biotif';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/Biotif/Biotif-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: italic;
    font-weight: 500;
    src: url('assets/fonts/Biotif/Biotif-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/Biotif/Biotif-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: italic;
    font-weight: 600;
    src: url('assets/fonts/Biotif/Biotif-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/Biotif/Biotif-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/Biotif/Biotif-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/Biotif/Biotif-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: italic;
    font-weight: 800;
    src: url('assets/fonts/Biotif/Biotif-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/Biotif/Biotif-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'biotif';
    font-style: italic;
    font-weight: 900;
    src: url('assets/fonts/Biotif/Biotif-BlackItalic.ttf') format('truetype');
}
