#backHomeButton {
  background: #d94568;
  border: 1px solid #d94568;
  box-sizing: border-box;
  border-radius: 6px;
  width: 23%;
  display: flex;
  justify-content: center;
  font-style: normal;
  margin: auto;
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
  color: #ffffff;
  text-transform: none;
}
